@{
    ViewBag.Title = "Chat, Chat, Chat...";
}

@section head { 

    <style type="text/css">
        ul {
            margin: 0;
        }
            ul li {
                padding: 0;
                list-style-type: none;
            }

        #messages {
            margin-top: 10px;
        }

        #messages li {
            background-color: #EEE;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            min-height: 40px;
            line-height: 40px;
            padding-left: 7px;
            padding-right: 7px;
            margin-bottom: 1px;
        }
        #users li {
            border: 1px solid #EEE;
            padding: 4px;
            border-radius: 3px;
            margin-bottom: 1px;
            cursor: pointer;
        }
        .privateChatUser {
            background-color: #3A87AD;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/apps/chat.js"></script>
}

<h2>Chat, Chat, Chat...</h2>

<div class="alert alert-success">
    Hello @User.Identity.Name! Start chating...
</div>

<div data-bind="visible: isInPrivateChat" class="alert alert-info">
    You are in a private chat with @@<span data-bind="text: privateChatUser"></span>! <a href="#" data-bind="click: exitFromPrivateChat">Exit from private chat?</a>
</div>

<div class="row-fluid">
    <div class="span8 form-search">
        <input type="text" id="txtMsg" class="input-xxlarge" disabled="disabled" /> 
        <button type="button" id="btnSend" class="btn btn-info" disabled="disabled">Send</button>
        <ul id="messages" data-bind="foreach: messages">
            <li>
                <span class="label label-important" data-bind="visible: isPrivate">Private</span>
                <strong><span data-bind="text: from"></span>: </strong>
                <span data-bind="text: message"></span>
            </li>
        </ul>
    </div>
    <div id="users" class="span2">
        <ul data-bind="foreach: users">
            <li data-bind="click: setAsPrivateChat, css: { privateChatUser: isPrivateChatUser }">
                <span data-bind="text: name"></span>
            </li>
        </ul>
    </div>
</div>